<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';
import { useAuthStore } from '../../stores/auth';
import Button from 'primevue/button';
import Dialog from 'primevue/dialog';
import InputText from 'primevue/inputtext';
import Column from 'primevue/column';
import DataTable from 'primevue/datatable';


const displayConfirmation = ref(false);
const dataCategory = ref([]);
const nameCategory = ref({
    name: '',
    id: ''
});
const errors = ref({});
const defaultUrl = '/api/category?page=1';
const deleteCategoriDialog = ref(false);
const idCategoriDel = ref({
    id: ''
});

const openConfirmation = () => {
    displayConfirmation.value = true;
    nameCategory.value.name = '';
    nameCategory.value.id = '';
};

const closeConfirmation = () => {
    displayConfirmation.value = false;
    nameCategory.value.name = '';
    errors.value = {};
};

const getCategory = async (url) => {
    try {
        const response = await axios.get(url);
        dataCategory.value = response.data;
    } catch (error) {
        console.error(error);
    }
}

const addCategory = async (input) => {
    try {
        if (input.id === '') {
            const data = {
                name: input.name
            };
            
            const response = await axios.post('/api/category', data);
            if(response.status === 201)
            {
                await getCategory(defaultUrl);
                closeConfirmation();
            }
        }else{
            const data = {
                name: input.name,
                _method: 'put'
            };

            const response = await axios.post(`/api/category/${input.id}`, data);
            if(response.status === 200)
            {
                await getCategory(defaultUrl);
                closeConfirmation();
            }
        }
    } catch (error) {
        if (error.response.status === 422) {
            errors.value = error.response.data.errors
        }
        if(error.response.status === 403){
            alert('Access Dinied');
        }
    }
}

onMounted( async () => {
    await getCategory(defaultUrl);
});

const editProduct = async (id) => {
    try {
        let dataCategory = await axios.get(`/api/category/${id}`);
        nameCategory.value.name = dataCategory.data.name;
        nameCategory.value.id = dataCategory.data.id;
        displayConfirmation.value = true;
    } catch (error) {
        console.error(error);
    }
};

const confirmDeleteCategory = (id) => {
    deleteCategoriDialog.value = true;
    idCategoriDel.value.id = id;
};

const deleteCategory = async () => {
    try {
        const response = await axios.delete(`/api/category/${idCategoriDel.value.id}`)
        if(response.status === 204)
        {
            await getCategory(defaultUrl);
            idCategoriDel.value.id = '';
            deleteCategoriDialog.value = false;
        }
    } catch (error) {
        console.error(error);
    }
}

const useAuth = useAuthStore();
const isAdmin = ref(useAuth.getRoleUser);
</script>

<template>
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <h5>Category</h5>
                <Button label="Add" icon="pi pi-plus" class="p-button" style="width: auto" @click="openConfirmation" />
                <Dialog header="Add Category" v-model:visible="displayConfirmation" :style="{ width: '350px' }" :modal="true">
                    <div class="field grid col-12">
                        <label for="name" class="col-12 md:col-2 md:mb-0">Name</label>
                        <form @submit.prevent="addCategory(nameCategory)">
                            <div class="col-12 md:col-10">
                                <InputText v-model="nameCategory.name" id="name" type="text" autofocus/>
                            </div>
                        </form>
                        <div class="text-red-500 font-bold" v-if="errors.name">{{ errors.name[0] }}</div>
                    </div>
                    <template #footer>
                        <Button label="No" icon="pi pi-times" @click="closeConfirmation" class="p-button-text" />
                        <Button @click="addCategory(nameCategory)" label="Yes" icon="pi pi-check" class="p-button-text" />
                    </template>
                </Dialog>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col-12">
            <div class="card">
                <DataTable :value="dataCategory.data" responsiveLayout="scroll">
                    <Column field="name" header="Name"></Column>
                    <Column :exportable="false" style="min-width:8rem" header="Action">
                        <template #body="slotProps">
                            <Button icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2" @click="editProduct(slotProps.data.id)"/>
                            <span v-if="isAdmin">
                                <Button icon="pi pi-trash" class="p-button-rounded p-button-danger" @click="confirmDeleteCategory(slotProps.data.id)"/>
                            </span>
                        </template>
                    </Column>
                </DataTable>

                <p class="mt-3">Showing {{ dataCategory.from }} to {{ dataCategory.to }} of {{ dataCategory.total }} categories</p>
                <span class="p-buttonset">
                    <Button icon="pi pi-angle-double-left" @click="getCategory(dataCategory.first_page_url)" :disabled="dataCategory.current_page === 1" />
                    <!-- <Button icon="pi pi-angle-left" @click="getCategory(dataCategory.prev_page_url)" :disabled="! dataCategory.prev_page_url" /> -->
                    <span v-if="dataCategory.current_page !== 1">
                        <Button @click="getCategory(dataCategory.prev_page_url)">{{ dataCategory.current_page - 1 }}</Button>
                    </span>
                    <Button disabled>{{ dataCategory.current_page }}</Button>
                    <span v-if="dataCategory.next_page_url">
                        <Button @click="getCategory(dataCategory.next_page_url)">{{ dataCategory.current_page + 1 }}</Button>
                    </span>
                    <!-- <Button icon="pi pi-angle-right" @click="getCategory(dataCategory.next_page_url)" :disabled="! dataCategory.next_page_url"/> -->
                    <Button icon="pi pi-angle-double-right" @click="getCategory(dataCategory.last_page_url)" :disabled="! dataCategory.next_page_url"/>
                </span>
            </div>
        </div>
    </div>

    <Dialog v-model:visible="deleteCategoriDialog" :style="{width: '450px'}" header="Confirm" :modal="true">
        <div class="confirmation-content">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
            <span>Are you sure you want to delete?</span>
        </div>
        <template #footer>
            <Button label="No" icon="pi pi-times" class="p-button-text" @click="deleteCategoriDialog = false"/>
            <Button label="Yes" icon="pi pi-check" class="p-button-text" @click="deleteCategory" />
        </template>
    </Dialog>
</template>