<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';
import Button from 'primevue/button';
import Dialog from 'primevue/dialog';
import InputText from 'primevue/inputtext';
import Column from 'primevue/column';
import DataTable from 'primevue/datatable';

const displayConfirmation = ref(false);
const errors = ref({});
const dataSatuan = ref([]);
const defaultUrl = '/api/satuan?page=1';
const isAdmin = ref(true);
const inputSatuan = ref({
    name: '',
    id: ''
});
const deleteSatuanDialog = ref(false);
const idSatuanDel = ref({
    id: ''
});

const openConfirmation = () => {
    displayConfirmation.value = true;
};

const closeConfirmation = () => {
    displayConfirmation.value = false;
    inputSatuan.value.name = '';
    inputSatuan.value.id = '';
    errors.value = {};
};

const getSatuan = async (url) => {
    try {
        const response = await axios.get(url);
        dataSatuan.value = response.data;
    } catch (error) {
        console.error(error);
    }
}

onMounted( async () => {
    await getSatuan(defaultUrl);
})

const addSatuan = async (input) => {
    try {
        if (input.id === '') {
            const data = {
                name: input.name
            };
            
            const response = await axios.post('/api/satuan', data);
            if(response.status === 201)
            {
                await getSatuan(defaultUrl);
                closeConfirmation();
            }
        }else{
            const data = {
                name: input.name,
                _method: 'put'
            };

            const response = await axios.post(`/api/satuan/${input.id}`, data);
            if(response.status === 200)
            {
                await getSatuan(defaultUrl);
                closeConfirmation();
            }
        }
    } catch (error) {
        errors.value = error.response.data.errors
    }
} 

const editSatuan = async (id) => {
    try {
        let dataSatuan = await axios.get(`/api/satuan/${id}`);
        inputSatuan.value.name = dataSatuan.data.name;
        inputSatuan.value.id = dataSatuan.data.id;
        displayConfirmation.value = true;
    } catch (error) {
        console.error(error);
    }
};

const confirmDeleteSatuan = (id) => {
    deleteSatuanDialog.value = true;
    idSatuanDel.value.id = id;
};

const deleteSatuan = async () => {
    try {
        const response = await axios.delete(`/api/satuan/${idSatuanDel.value.id}`)
        if(response.status === 204)
        {
            await getSatuan(defaultUrl);
            idSatuanDel.value.id = '';
            deleteSatuanDialog.value = false;
        }
    } catch (error) {
        console.error(error);
    }
}
</script>

<template>
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <h5>Satuan</h5>
                <Button label="Add" icon="pi pi-plus" class="p-button" style="width: auto" @click="openConfirmation" />
                <Dialog header="Add Satuan" v-model:visible="displayConfirmation" :style="{ width: '350px' }" :modal="true">
                    <div class="field grid col-12">
                        <label for="name" class="col-12 md:col-2 md:mb-0">Name</label>
                        <form @submit.prevent="addSatuan(inputSatuan)">
                            <div class="col-12 md:col-10">
                                <InputText v-model="inputSatuan.name" id="name" type="text" autofocus/>
                            </div>
                        </form>
                        <div class="text-red-500 font-bold" v-if="errors.name">{{ errors.name[0] }}</div>
                    </div>
                    <template #footer>
                        <Button label="No" icon="pi pi-times" @click="closeConfirmation" class="p-button-text" />
                        <Button @click="addSatuan(inputSatuan)" label="Yes" icon="pi pi-check" class="p-button-text" />
                    </template>
                </Dialog>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col-12">
            <div class="card">
                <DataTable :value="dataSatuan.data" responsiveLayout="scroll">
                    <Column field="name" header="Name"></Column>
                    <Column :exportable="false" style="min-width:8rem" header="Action">
                        <template #body="slotProps">
                            <Button icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2" @click="editSatuan(slotProps.data.id)"/>
                            <span v-if="isAdmin">
                                <Button icon="pi pi-trash" class="p-button-rounded p-button-danger" @click="confirmDeleteSatuan(slotProps.data.id)"/>
                            </span>
                        </template>
                    </Column>
                </DataTable>

                <p class="mt-3">Showing {{ dataSatuan.from }} to {{ dataSatuan.to }} of {{ dataSatuan.total }} categories</p>
                <span class="p-buttonset">
                    <Button icon="pi pi-angle-double-left" @click="getSatuan(dataSatuan.first_page_url)" :disabled="dataSatuan.current_page === 1" />
                    <!-- <Button icon="pi pi-angle-left" @click="getSatuan(dataSatuan.prev_page_url)" :disabled="! dataSatuan.prev_page_url" /> -->
                    <span v-if="dataSatuan.current_page !== 1">
                        <Button @click="getSatuan(dataSatuan.prev_page_url)">{{ dataSatuan.current_page - 1 }}</Button>
                    </span>
                    <Button disabled>{{ dataSatuan.current_page }}</Button>
                    <span v-if="dataSatuan.next_page_url">
                        <Button @click="getSatuan(dataSatuan.next_page_url)">{{ dataSatuan.current_page + 1 }}</Button>
                    </span>
                    <!-- <Button icon="pi pi-angle-right" @click="getSatuan(dataSatuan.next_page_url)" :disabled="! dataSatuan.next_page_url"/> -->
                    <Button icon="pi pi-angle-double-right" @click="getSatuan(dataSatuan.last_page_url)" :disabled="! dataSatuan.next_page_url"/>
                </span>
            </div>
        </div>
    </div>

    <Dialog v-model:visible="deleteSatuanDialog" :style="{width: '450px'}" header="Confirm" :modal="true">
        <div class="confirmation-content">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
            <span>Are you sure you want to delete?</span>
        </div>
        <template #footer>
            <Button label="No" icon="pi pi-times" class="p-button-text" @click="deleteSatuanDialog = false"/>
            <Button label="Yes" icon="pi pi-check" class="p-button-text" @click="deleteSatuan" />
        </template>
    </Dialog>
</template>