<script setup>
</script>

<template>
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <h5>Advanced</h5>
            </div>
        </div>
    </div>
</template>