<script setup>
import { useLayout } from '@/layout/composables/layout';
import { ref, computed } from 'vue';
// import AppConfig from '@/layout/AppConfig.vue';
import {useAuthStore} from '../../stores/auth';
import InputText from 'primevue/inputtext';
import Password from 'primevue/password';
import Button from 'primevue/button';

const { layoutConfig, contextPath } = useLayout();

const inputLogin = ref({
    email: '',
    password: ''
})

const logoUrl = computed(() => {
    return `${contextPath}layout/images/${layoutConfig.darkTheme.value ? 'logo-white' : 'logo-dark'}.svg`;
});

const {handleLoginUser} = useAuthStore();
const useAuth = useAuthStore();
</script>

<template>
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="flex flex-column align-items-center justify-content-center">
            <img :src="logoUrl" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0" />
            <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
                <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius: 53px">
                    <div class="text-center mb-5">
                        <div class="text-900 text-3xl font-medium mb-3">Welcome</div>
                        <span class="text-600 font-medium">Sign in to continue</span>
                    </div>
                    
                    <form @submit.prevent="handleLoginUser(inputLogin)">
                        <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                        <InputText v-model="inputLogin.email" id="email1" type="text" placeholder="Email address" class="w-full md:w-30rem" style="padding: 1rem"/>
                        <div class="text-red-500 mb-3 font-bold" v-if="useAuth.getAuthErrors.email">{{ useAuth.getAuthErrors.email[0] }}</div>
                        
                        <label for="password1" class="block text-900 font-medium text-xl mb-2 mt-3">Password</label>
                        <Password id="password1" v-model="inputLogin.password" placeholder="Password" :toggleMask="true" class="w-full mb-3" inputClass="w-full" inputStyle="padding:1rem"></Password>
                        <div class="text-red-500 mb-3 font-bold" v-if="useAuth.getAuthErrors.password">{{ useAuth.getAuthErrors.password[0] }}</div>

                        <Button type="submit" label="Sign In" class="w-full p-3 text-xl" :loading="useAuth.getIsLoading"></Button>
                    </form>
                    <p class="mt-2">New to this? <RouterLink :to="{ path: '/register' }">Create an account</RouterLink> </p>
                </div>
            </div>
        </div>
    </div>
    <!-- <AppConfig simple /> -->
</template>

<style scoped>
.pi-eye {
    transform: scale(1.6);
    margin-right: 1rem;
}

.pi-eye-slash {
    transform: scale(1.6);
    margin-right: 1rem;
}
</style>
